@import 'ember-power-select/themes/bootstrap';
@import "ember-power-select";

@media (max-width: 767px) {
  .affix {
    position: relative;
  }
}

.container {
  width: 700px;
}

.pokedex {
  border: 1px solid black;
}

.title-wrapper {
  margin: 20px 0px;
}

.pokedex-title {
  margin: 12px;
}

.pokemon-block {
  border: 1px solid black;
  margin: 0px 20px 20px 0px;
  padding: 5px;
  text-align: center;
  min-height: 210px;
}

.pokemon-block img {
  width: 100%;
  height: 100%;
}

.pokemon-block .row {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.pokemon-type-text {
  display:table-cell;
  vertical-align:middle;
  font-weight: 500;
}

.pokemon-view {
  margin-left: 20px;
  min-width: 200px;
}

.pokemon-item {
  padding: 0px;
}

.load-more {
  color: white;
  padding-right: 20px;
}

.type {
  border-radius: 5px;
  font-size: 9px;
  margin: 2px;
  padding: 0px;
  min-width: 43px;
  min-height: 25px;
  display: table;
}

.filter-block {
  margin: 20px;
  border: 0px;
}

.autocomplete-block {
  padding-top: 5px;
}

.option-block {
  padding: 0px 5px;
  margin: 2px 0px;
}

.btn-primary {
  background-image: none;
  background-color: #008CFF;
  color: white;
  font-weight: bold;
  border-radius: 10px;
}

