@import 'ember-power-select/themes/bootstrap';
@import "ember-power-select";

@media (max-width: 767px) {
  .affix {
    position: relative;
  }
}

.container {
  width: 700px;
}

.pokedex {
  border: 1px solid black;
}

.title-wrapper {
  margin: 20px 0px;
}

.pokedex-title {
  margin: 12px;
}

.pokemon-block {
  border: 1px solid black;
  margin: 0px 20px 20px 0px;
  padding: 5px;
  text-align: center;
  min-height: 210px;
}

.pokemon-block img {
  width: 100%;
  height: 100%;
}

.pokemon-item .pokemon-block {
  cursor: pointer;
}

.pokemon-block .row {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.pokemon-type-text {
  display: table-cell;
  vertical-align: middle;
  font-weight: 500;
}

.pokemon-view {
  margin-left: 20px;
  width: 230px;
}

.view-table {
  border-collapse: collapse;
  width: 100%;
  text-transform: capitalize;
}

.view-table, td {
  border: 1px solid black;
}

.view-table td {
  height: 25px;
}

.view-table .row-description {
  width: 40%;
}

.view-title {
  font-weight: 600;
}

.pokemon-view h3 {
  margin-top: 10px;
}

.pokemon-item {
  padding: 0px;
}

.load-more {
  color: white;
  padding-right: 20px;
}

.type {
  border-radius: 5px;
  font-size: 11px;
  margin: 2px;
  padding: 0px;
  min-width: 43px;
  height: 25px;
  display: table;
  text-transform: capitalize;
}

.filter-block {
  margin: 20px;
  border: 0px;
}

.autocomplete-block {
  padding-top: 5px;
}

.option-block {
  padding: 0px 5px;
  margin: 2px 0px;
}

.btn-primary {
  background-image: none;
  background-color: #008CFF;
  color: white;
  font-weight: bold;
  border-radius: 10px;
}
.ember-power-select-clear-btn {
  right: 25px;
  top: 0px;
  font-weight: 900;
}
