<div class="container">
    <div class="title-wrapper row">
        <div class="col-xs-offset-2 pokedex col-xs-8">
              <h1 class="pokedex-title center-block text-center" id="title">Pokedex</h1>
        </div>
    </div>
  {{outlet}}
</div>

